.contentt {
  padding:0 15px;
  margin-top:20px;
  .demoTitle:before,
  .demoTitle:after {
    border-bottom: none;
  }
  .am-checkbox-agree-label {
    width: 100% !important;
    margin-right: 20px;
    a {
      float: right !important;
    }
  }
  .am-checkbox-agree-label {
    color: #999 !important;
    a {
      color: #666 !important;
    }
  }
  .anniu {
    width:48%;
    margin-right: 4px;
    height: 35px;
    line-height: 35px;
  }
}